<%= render "shared/account_navbar" %>
<div class="max-w-screen-xl mx-auto py-2">
  <h2 class="mb-4 px-2 text-xl font-bold text-gray-900 dark:text-white">My profile</h2>
  <div class="block max-w-screen-xl mx-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="mb-1">
      Currently logged as <%= Current.user.email %>
    </div>
    <div class="mb-6">
      <% if Current.user.verified %>
        Your email is verified
      <% else %>
        Your email is not yet verified, please check your mailbox. 
      <% end %>
    </div>
    <%= button_to "Log out", account_session_path(Current.session), method: :delete, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
  </div>
</div>
