<section class="bg-gray-50 dark:bg-gray-900">
  <div class="max-w-screen-xl px-4 py-8 mx-auto lg:grid lg:gap-20 lg:py-16 lg:grid-cols-12">
    <div class="flex-col justify-between hidden mr-auto lg:flex lg:col-span-5 xl:col-span-6 xl:mb-0">
      <div>
        <div class="flex">
          <svg class="w-5 h-5 mr-2 text-primary-600 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
          </svg>
          <div>
            <h3 class="mb-2 text-xl font-bold leading-none text-gray-900 dark:text-white">
              Get started quickly
            </h3>
            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">
              Integrate with developer-friendly APIs or choose low-code.
            </p>
          </div>
        </div>
        <div class="flex pt-8">
          <svg class="w-5 h-5 mr-2 text-primary-600 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
          </svg>
          <div>
            <h3 class="mb-2 text-xl font-bold leading-none text-gray-900 dark:text-white">
              Support any business model
            </h3>
            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">
              Host code that you don't want to share with the world in private.
            </p>
          </div>
        </div>
        <div class="flex pt-8">
          <svg class="w-5 h-5 mr-2 text-primary-600 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
          </svg>
          <div>
            <h3 class="mb-2 text-xl font-bold leading-none text-gray-900 dark:text-white">
              Join millions of businesses
            </h3>
            <p class="mb-2 font-light text-gray-500 dark:text-gray-400">
              TailRails is trusted by ambitious startups and enterprises of every
              size.
            </p>
          </div>
        </div>
      </div>
      <nav>
        <ul class="flex space-x-4">
          <li>
            <a href="#" class="text-sm text-gray-500 hover:underline hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">About</a>
          </li>
          <li>
            <a href="#" class="text-sm text-gray-500 hover:underline hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Term
              & Conditions</a>
          </li>
          <li>
            <a href="#" class="text-sm text-gray-500 hover:underline hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="text-center lg:hidden">
      <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <%= image_tag asset_path('logo.png'), class: "w-8 h-8 mr-2" , alt: "logo" %> MyApp
      </a>
    </div>
    <div class="w-full mx-auto bg-white rounded-lg shadow dark:bg-gray-800 md:mt-0 sm:max-w-lg xl:p-0 lg:col-span-7 xl:col-span-6">
      <div class="p-6 space-y-4 lg:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 sm:text-2xl dark:text-white">
          Create your Free Account
        </h1>
        <%= render 'form', errors_h: {} %>
      </div>
    </div>
  </div>
</section>
